[Unit]
Description=Surveily Sync ##folder## Service
After=network.target
Requires=network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=##user##
ExecStop=/home/##user##/.surveily/sync/stop.sh $USER ##folder##
ExecStart=/home/##user##/.surveily/sync/start.sh $USER ##folder##

[Install]
WantedBy=multi-user.target