[Unit]
Description=Surveily Sync ##folder## Service
After=network-online.target ##mounts##
Requires=network-online.target ##mounts##
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
User=##user##
ExecStop=/home/##user##/.surveily/sync/stop.sh $USER ##folder##
ExecStart=/home/##user##/.surveily/sync/start.sh $USER ##folder##
TimeoutSec=3600

[Install]
WantedBy=multi-user.target
